<form method="post" action="/departments/add">
    <ul>
        <li><label for="title">Название:</label></li>
        <li><input id="title" name="title" type="text"/></li>
        <li>
            <button type="submit">Добавить отдел</button>
        </li>
    </ul>
</form>
