<form method="post" action="/employees/add">
    <ul>
        <li><label for="title">ФИО:</label></li>
        <li><input id="title" name="title" type="text"/></li>
        <li>
            <button type="submit">Добавить сотрудника</button>
        </li>
    </ul>
</form>
