{% extends "layout.twig" %}
{% block content %}
    <form method="post" action="/employees/edit/">
        <input type="hidden" name="id" value="{{ employee.id }}"/>
        <ul>
            <li><label for="title">ФИО:</label></li>
            <li><input id="title" name="title" type="text" value="{{ employee.title | escape }}"/></li>
            <li>
                <button type="submit">Изменить ФИО</button>
            </li>
        </ul>
    </form>
{% endblock %}
