{% extends "layout.twig" %}
{% block content %}
    <menu>
        <a href="/departments">Отделы</a>
        <a href="/employees">Сотрудники</a>
        <a href="/logout" >Выход</a>
    </menu>
{% endblock %}