<html>
<head>
    <title>Тестовое задание для PgDays. Полев Алексей.</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script type="text/javascript" src="/js/vendor/extjs/ext-all.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<h1>Тестовое задание для PgDays. Полев Алексей.</h1>

<div id="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>